name: Terraform Apply (dev)

on:
  push:
    branches:
      - dev

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.GITHUBACTIONS_OIDC_ARN }}
          aws-region: ap-northeast-1

      - name: Terraform Init
        working-directory: ./envs/dev
        run: terraform init

      - name: Terraform Apply
        working-directory: ./envs/dev
        run: terraform apply -auto-approve
